@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

body {
  background-color: #f0f0f0;
}

#subtitleStyle,
#textFieldStyle{
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.spanStyle{
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

#textStyle {
  margin-top: 8%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

button{
display: flex;
align-items: center;
justify-content: center;

}
#img{
    width: 40px;
    height: auto;
    /* float: left; */
    vertical-align: middle;
}
